# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache
coverage.xml

# IPython, Jupyter
.ipynb_checkpoints
profile_default/
ipython_config.py


specific-experiments/maybe_never/*

.venv/*
